<script lang="ts">
    import { onMount } from "svelte";
    import { withRoutes } from "./router.service";
    import type { Route } from "./router.service";

    export let routes: Route[];

    let view: Svelte2TsxComponent | null;
    let myOverlay: Svelte2TsxComponent | null;

    function setView(
        component: Svelte2TsxComponent,
        overlay: Svelte2TsxComponent
    ) {
        let newView: any = component;
        if (!(view instanceof newView)) {
            view && view.$destroy();

            view = new newView({
                target: document.querySelector("#routerOutlet"),
            });
        }

        if (myOverlay) {
            let newOverlay: any = overlay;
            myOverlay.$destroy();

            if (!(myOverlay instanceof newOverlay)) {
                console.log("Making overlay");
                myOverlay = new newOverlay({
                    target: document.body,
                });
            }
        }
    }

    onMount(() => {
        view = null;
        withRoutes(routes, setView);
    });
</script>

<div id="routerOutlet" />

<style>
    div {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
    }
</style>
