<script>
    import { OverflowMenu, Button } from "carbon-components-svelte";
    import ColorPickerIcon from './ColorPickerIcon.svelte';

    const pickableColors = [
        "#DD2C00",
        "#F44336",
        "#FF9800",
        "#D81B60",
        "#9C27B0",
        "#673AB7",
        "#2196F3",
        "#03A9F4",
        "#4CAF50",
        "black",
        "white",
        "#76FF03",
        "#EEFF41",
        "#18FFFF",
        "#1DE9B6",
    ];

    export let selected = "black";
    let open = false;

    function select(color) {
        selected = color;
        open = false;
    }
</script>

<div class="color-picker">
    <OverflowMenu icon={ColorPickerIcon} style='--picker-color: {selected};' flipped direction="top"  bind:open>
        <div class="buttons">
            {#each pickableColors as color}
                <Button let:props kind="ghost" as={true}>
                    <ColorPickerIcon on:click={() => select(color)} style='--picker-color: {color}'  />
                </Button>
            {/each}
        </div>
    </OverflowMenu>
</div>

<style>
    .color-picker {
        /* position: absolute;
        top: 2rem;
        right: 2rem; */
    }

    .buttons {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.25rem;
        justify-content: space-around;
        padding: 0.25rem;
    }

    .buttons :global(button .bx--assistive-text) {
        display: none !important;
    }

    .buttons :global(button:before) {
        display: none !important;
    }

    :global(.bx--overflow-menu .bx--overflow-menu-options) {
        background: rgba(22, 22, 22, 0.5) !important;
    }
</style>
