<script>
    export let style = '';
</script>

<div {style} on:click class="icon-wrap">
    <div
        class="shadow-2 icon"
        style="background: var(--picker-color)"
    />
</div>

<style>
    .icon-wrap {
        padding: 16px;
    }
    .icon {
        height: 16px;
        width: 16px;
        border-radius: 2px;
        border: 1px solid white;
    }
</style>