<script lang="ts">
    import {
        pages$,
        publishStroke,
        setPage,
    } from "../../Services/stroke.service";
    import { PaginationNav, Button } from "carbon-components-svelte";
    import { Add32 } from "carbon-icons-svelte";
    import { writable } from "svelte/store";
    import { onDestroy } from "svelte";
    import { fromEvent } from "rxjs";
    import { debounceTime, map, startWith } from "rxjs/operators";

    const expectedPadding = 32;
    const buttonWidth = 48;
    const nonPageButtons = 3;

    const currentPage = writable(0);
    const unsubscribe = currentPage.subscribe((page) => {
        setPage(page);
    });

    function onAddPage() {
        const newPage = pages$.getValue() + 1;
        setPage(newPage);
        publishStroke("", "");
        currentPage.set(newPage);
    }

    const shownButtons = fromEvent(window, "resize").pipe(
        debounceTime(100),
        map(() => window.innerWidth),
        startWith(window.innerWidth),
        map((innerWidth) =>
            Math.min(
                10,
                Math.floor(
                    (innerWidth +
                        expectedPadding * -4 +
                        nonPageButtons * -buttonWidth) /
                        buttonWidth
                )
            )
        )
    );

    onDestroy(() => unsubscribe());
</script>

<div class="page-selector horizontal center">
    <PaginationNav
        loop
        shown={$shownButtons}
        total={$pages$ + 1}
        bind:page={$currentPage}
    />
    <Button
        kind="ghost"
        iconDescription="Add Page"
        icon={Add32}
        on:click={onAddPage}
    />
    <div class="flex" />
    <slot />
</div>

<style>
    .page-selector {
        position: absolute;
        bottom: 2.5rem;
        left: 2rem;
        right: 2rem;
        z-index: 9001;
        background: rgba(22, 22, 22, 0.5);
    }
</style>
