<script>
    import { OverflowMenu, Slider } from "carbon-components-svelte";
    import { PenFountain32 } from "carbon-icons-svelte";
    import { strokeWidth } from "../../Services/stroke.service";
    import { scale } from './whiteboard.navigator';

    let open = false;
    let selectedStrokeWidth = 1;
    $: strokeWidth.set(selectedStrokeWidth / $scale);
</script>

<OverflowMenu icon={PenFountain32} class="stroke-menu" flipped direction="top"  bind:open>
    <Slider
        max={50}
        min={1}
        step={1}
        stepMultiplier={4}
        bind:value={selectedStrokeWidth}
    />
</OverflowMenu>