<script lang="ts">
    import { Button } from "carbon-components-svelte";
    import { Undo24 } from "carbon-icons-svelte";
    import { onDestroy } from "svelte";
    import { canUndo$, undoStroke } from "../../Services/stroke.service";

    const canUndo = canUndo$;
    function onUndo() {
        undoStroke();
    }
    function onKeydownUndo(e: KeyboardEvent) {
        if (e.key === "z" && e.ctrlKey) {
            undoStroke();
        }
    }

    window.addEventListener("keydown", onKeydownUndo);
    onDestroy(() => window.removeEventListener("keydown", onKeydownUndo));
</script>

<div class="undo-button">
    <Button
        on:click={onUndo}
        tooltipPosition="bottom"
        tooltipAlignment="end"
        iconDescription="Undo"
        icon={Undo24}
        disabled={!$canUndo}
    />
</div>
