<script lang="ts">
    import { Path, setup } from "paper/dist/paper-core";
    import { authorId } from "../../Services/stroke.service";
    import type { Shape } from "../../Services/stroke.service";
    import { get } from "svelte/store";
    import type { Readable } from "svelte/store";
    import { getContext } from "svelte";
    (setup as any)();

    export let shape: Shape;
    const panning: Readable<boolean> = getContext("panning");
    const loading: Readable<boolean> = getContext("loading");
    const length =
        shape.author !== authorId && !get(panning) && !get(loading)
            ? new Path(shape.path).length
            : 0;
</script>

<path
    d={shape.path}
    stroke={shape.color || "black"}
    stroke-width={shape.strokeWidth ?? 1}
    fill="none"
    stroke-dasharray={length}
    stroke-dashoffset={length}
/>

<style>
    path {
        animation: dash 1s cubic-bezier(0.55, 0.09, 0.68, 0.53) forwards;
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }
</style>
