<script lang="ts">
    import { combineLatest,Subject } from "rxjs";
    import { debounceTime,filter,takeUntil,tap } from "rxjs/operators";
    import { onDestroy,onMount,setContext } from "svelte";
    import type { Readable,Writable } from "svelte/store";
    import { writable } from "svelte/store";
    import { getActivatedRoute } from "../../Router/router.service";
    import { currentPage$, start, stop } from "../../Services/stroke.service";
    import ColorPicker from "./ColorPicker.svelte";
    import PageSelector from "./PageSelector.svelte";
    import { ShapesModel } from "./shapes.model";
    import StrokeWidth from "./StrokeWidth.svelte";
    import UndoButton from "./UndoButton.svelte";
    import { scale, WhiteboardNavigator } from "./whiteboard.navigator";
    import WhiteboardShape from "./WhiteboardShape.svelte";
    
    const destroy$ = new Subject();
    let whiteboardNavigator: WhiteboardNavigator;

    let offsetX: Readable<number>;
    let offsetY: Readable<number>;
    let panning: Writable<boolean> = writable(false);

    const shapesModel = new ShapesModel();
    const shapes = shapesModel.paths;
    const color = writable("black");

    const loading = writable(true);
    setContext("loading", loading);
    setContext("panning", panning);

    onMount(() => {
        start(getActivatedRoute().data.id);

        whiteboardNavigator = new WhiteboardNavigator(
            document.querySelector("#svgContainer")
        );
        shapesModel.attach(whiteboardNavigator, color);

        offsetX = whiteboardNavigator.offsetX;
        offsetY = whiteboardNavigator.offsetY;
        
        whiteboardNavigator.panning.subscribe((isPanning) =>
            panning.set(isPanning)
        );

        combineLatest([shapes, currentPage$.pipe(tap(() => loading.set(true)))])
            .pipe(
                takeUntil(destroy$),
                filter(([shapes]) => shapes.length > 1),
                debounceTime(1000)
            )
            .subscribe(() => loading.set(false));
    });

    onDestroy(() => {
        stop();
        whiteboardNavigator.destroy();
        destroy$.next(null);
        destroy$.complete();
    });
</script>

<!-- <p>Click anywhere below to draw on the whiteboard</p> -->
<div class="stage" style="color: white;">
    <div
        style="transform: scale3d({$scale}, {$scale}, 1)"
        class="scaling-wrapper"
        id="svgContainer"
    >
        <svg
            style="transform: translate3d({$offsetX}px, {$offsetY}px, 0); cursor: {$panning
                ? 'move'
                : 'auto'}"
            class="whiteboard shadow-5"
        >
            {#each $shapes as shape (shape.id)}
                <WhiteboardShape {shape} />
            {/each}
        </svg>
    </div>
</div>

<PageSelector>
    <StrokeWidth />
    <ColorPicker bind:selected={$color} />
    <UndoButton />
</PageSelector>

<style>
    .stage {
        height: 100%;
        overflow: hidden;
        position: relative;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    svg {
        height: 3000px;
        width: 3000px;
        margin: auto;

        touch-action: none;
        background: #bbb;
        transform-origin: center;
    }
    .scaling-wrapper {
        /* transition: transform 0.35s cubic-bezier(0.22, 0.61, 0.36, 1); */
    }
</style>
