<script lang="ts">
    import {
        DataTable,
        Toolbar,
        ToolbarContent,
        ToolbarSearch,
        ToolbarMenu,
        ToolbarMenuItem,
        Button,
        DataTableSkeleton,
        ComposedModal,
        ModalHeader,
        ModalBody,
        ModalFooter,
        TextInput,
        Checkbox,
        FluidForm,
        PasswordInput,
        InlineLoading,
        CopyButton,
    } from "carbon-components-svelte";
    import { Subject } from "rxjs";
    import { buffer, debounceTime, filter, map } from "rxjs/operators";
    import { onDestroy } from "svelte";

    import {
        boards,
        exportBoardUrl,
        addBoard,
    } from "../Services/board.service";
    import type { Board } from "../Services/board.service";
    import { navigate } from "../Router/router.service";

    let isCreateBoardDialogOpen = false;

    let edit_boardName = "";
    let edit_passwordProtected = false;
    let edit_boardPassword = "";
    let disable_form = false;
    let creationComplete = false;

    const click$ = new Subject();

    const dblClick = click$
        .pipe(
            buffer(click$.pipe(debounceTime(250))),
            filter(
                (clicks: any[]) =>
                    clicks.length === 2 &&
                    clicks[0].detail.id === clicks[1].detail.id
            ),
            map((clicks: any[]) => clicks[0].detail)
        )
        .subscribe((board: Board) => {
            navigate("/board/" + board.id);
        });

    onDestroy(() => dblClick.unsubscribe());

    function openCreateBoardDialog() {
        isCreateBoardDialogOpen = true;
    }

    async function submitBoard(e) {
        disable_form = true;
        await addBoard({
            id: Date.now().toString(),
            name: edit_boardName,
            createdAt: Date.now(),
            swarmKey: MFKIP.createSwarmKey(),
            hasPassword: edit_passwordProtected,
        });
        creationComplete = true;
        await new Promise((res) => setTimeout(res, 750));
        disable_form = false;
        isCreateBoardDialogOpen = false;
    }
    function closeBoard() {
        edit_boardName = "";
        edit_passwordProtected = false;
        edit_boardPassword = "";
        disable_form = false;
        creationComplete = false;
    }
</script>

<ComposedModal
    preventCloseOnClickOutside={true}
    on:close={closeBoard}
    on:submit={submitBoard}
    bind:open={isCreateBoardDialogOpen}
>
    <ModalHeader label="Create" title="Create Scribble Board" />
    <ModalBody hasForm>
        <div class="form">
            <FluidForm>
                <Checkbox
                    disabled={disable_form}
                    labelText="Password Protected"
                    bind:checked={edit_passwordProtected}
                />
                <TextInput
                    required
                    disabled={disable_form}
                    labelText="Board name"
                    placeholder="Enter board name..."
                    bind:value={edit_boardName}
                />
                {#if edit_passwordProtected}
                    <PasswordInput
                        required
                        disabled={disable_form}
                        type="password"
                        labelText="Board password"
                        placeholder="Enter a password"
                        bind:value={edit_boardPassword}
                    />
                {/if}
            </FluidForm>
        </div>
        {#if disable_form}
            <InlineLoading
                status={creationComplete ? "finished" : "active"}
                description={creationComplete ? "Board Created" : "Creating..."}
            />
        {/if}
    </ModalBody>
    {#if !disable_form}
        <ModalFooter
            primaryButtonDisabled={!edit_boardName ||
                !(!edit_passwordProtected || !!edit_boardPassword)}
            primaryButtonText="Proceed"
            secondaryButtonText="Cancel"
        />
    {/if}
</ComposedModal>

{#if $boards}
    <DataTable
        sortable
        title="Scribble Boards"
        description={`${
            $boards.length > 0 ? "Double click" : "Create"
        } a board to get started`}
        headers={[
            { key: "id", value: "ID" },
            { key: "name", value: "Name" },
            { key: "createdAt", value: "Created" },
            { key: "hasPassword", value: "Protected" },
            { key: "copy", value: "" },
        ]}
        rows={$boards}
        on:click:row={(e) => click$.next(e)}
    >
        <Toolbar>
            <ToolbarContent>
                <ToolbarSearch />
                <Button on:click={openCreateBoardDialog}>Create Board</Button>
            </ToolbarContent>
        </Toolbar>

        <span slot="cell" let:row let:cell>
            {#if cell.key === "copy"}
                <CopyButton
                    text={exportBoardUrl(row)}
                    feedback="Copied to clipboard"
                />
            {:else}{cell.value}{/if}
        </span>
    </DataTable>
{:else}
    <DataTableSkeleton />
{/if}

<style>
    .form {
        padding-right: 3rem;
        padding-bottom: 3rem;
    }
</style>
