<script lang="ts">
	import { onMount } from "svelte";
	import Router from "../Router/Router.svelte";
	import Routes from "../Routes";
	import {
		Header,
		SkipToContent,
		Content,
		Button
	} from "carbon-components-svelte";
	import BackButton from './BackButton.svelte';
	import AppStore from '../App.store';
import { get } from "svelte/store";

	let app: HTMLDivElement;
	let router: Router;
	const installPrompt = AppStore.installPrompt;

	function install() {
		get(installPrompt).prompt();
	}

	onMount(() => {
		router = new Router({
			target: app,
			props: { routes: Routes },
		});
	});
</script>

<Header
	company="WWT"
	platformName="Scribble"
	persistentHamburgerMenu={true}
	isSideNavOpen={false}
	iconMenu={BackButton}
	iconClose={BackButton}
>
	<div slot="skip-to-content"><SkipToContent /></div>
	<div class="flex" />
	{#if $installPrompt}
		<Button
			on:click={install}
			id="installButton"
			style="margin-right: 1rem;"
			size="small"
			kind="tertiary">Install Scribble</Button
		>
	{/if}
</Header>

<Content>
	<div id="app" bind:this={app} class="vertical" />
</Content>

<style lang="scss" global>
	@import "~carbon-components-svelte/css/g100.css";

	#installButton {
		border-color: #0f62fe;
	}
	body {
		display: grid;
	}
	#app {
		height: 100%;
		position: relative;
	}

	#main-content {
		overflow: hidden;
		padding: 0;
		margin-left: 0;
	}
</style>
