<script>
    import { ArrowLeft20 } from "carbon-icons-svelte";
    import { getActivatedRoute, navigate } from "../Router/router.service";

    function handleBack() {
        const route = getActivatedRoute();
        if (route.url !== "") {
            navigate("/");
        } else {
            console.log(route);
        }
    }
</script>

<div class="back-button">
    <ArrowLeft20 on:click={handleBack} />
</div>

<style>
    .back-button {
        height: 16px;
        width: 16px;
    }

    .back-button :global(svg) {
        margin: -1rem;
        padding: 0.75rem;
        height: 48px;
        width: 48px;
        fill: #f4f4f4;
    }
</style>
